{% extends 'Registro/base.html' %} {% block titulo_principal %}

<div id="titulo_pagina">Lista de Carreras Registradas</div>
{% endblock %} {% block content %}

<h3>Listado de Carreras</h3>

<!-- <form class="form-inline mb-5" method="GET">
        <div class="form-group mx-3">
            <label class="mr-2">Buscar cant min. de semestres:</label>

            <select class="form-control mr-2" name="cant-semestres">
                <option value="2">Dos</option>
                <option value="3">Tres</option>
                <option value="4">Cuatro</option>
                <option value="5">Cinco</option>
            </select>        
            <button class="btn btn-secondary" type="submit" name="btn-buscarCantSemestres">Buscar</button>            
        </div>

        <div class="form-group mx-3">
            <label class="mr-2">Buscar por nombre de carrera:</label>
            <input type="text" class="form-control mr-2" name="nombre-carrera">            
            <button class="btn btn-secondary" type="submit" name="btn-nombre-carrera">Buscar</button>            
        </div>        

    </form> -->

{% if object_list %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Semestres</th>
      <th>Mensualidad</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for carrera in object_list %}
    <tr>
      <th scope="row">{{ carrera.nombre }}</th>
      <td>{{ carrera.semestres }}</td>
      <td>${{ carrera.mensualidad }}</td>

      <td>
        <a class="btn btn-primary" href="{% url 'update_carrera' carrera.id %}"
          >Editar</a
        >
      </td>
      <td>
        <a class="btn btn-danger" href="{% url 'del_carrera' carrera.id %}"
          >Eliminar</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h1>No hay registros de carrera</h1>
{% endif %} {% endblock %}
