{% extends 'Usuario/base/base.html' %} 

{% block title %}
Resgistro
{% endblock %}

<link rel="stylesheet" href="/core/css/registro.css">

{% block content %}
    <style>
        *{
            font-family: 'Anek Odia', sans-serif;
        }
        .content container{
            text-align: center;
            border: 1px black solid;
        }
    </style>
    <div class="image">
        <!-- <img src="retrowave-lineas-montanas_3840x2160_xtrafondos.com.svg" alt="fondo"> -->
    </div>
    <h1 style="text-align: center;"> <em><strong>Registrate</strong></em></h1>
    
<div class="content container">
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Registar</button>
    </form>
    </div>>
    
    
    
            
            
        </div>
        
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

{% endblock %}
